<ion-view view-title="Access identified information">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
				<p>Request School Head for information. You may talk to SH or send a formal <a ui-sref="#"><strong>letter</strong></a>.</p>
				
				<div class="padBottom">
					<ul class="list">
						<li class = "item item-checkbox checkbox-energized che checkBox chbkacc">
					      	Accessed info:
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox" ng-checked="newItem.a1=='Y' && newItem.a2=='Y' && newItem.a3=='Y'"/>
					      	</label>
					   	</li>

						<li class = "item item-checkbox checkbox-energized checkBox chbkSpace">
					      	BEIS
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox" ng-checked="newItem.a1=='Y'"/>
					      	</label>
					   	</li>
						<li class = "item item-checkbox checkbox-energized checkBox chbkSpace">
					      	Project Inspection Report
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox" ng-checked="newItem.a2=='Y'"/>
					      	</label>
					   	</li>
					   	<li class = "item item-checkbox checkbox-energized checkBox chbkSpace">
					      	Property Inventory
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox" ng-checked="newItem.a3=='Y'"/>
					      	</label>
					    </li>
					</ul>
				</div>
				<div class="padBottom">
					<ul class="list">
						<li class = "item item-checkbox checkbox-energized che checkBox chbkacc">
					      	Need to wait.
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox"/>
					      	</label>
					   	</li>
					</ul>
				</div>
				<div class="padBottom">
					<p>Upload Picture:</p><!-- <input type="file" name="sign"> -->
					<img src="img/photo-camera.png" class="photoImg">
				</div>
				<button class="button button-energized button-block sign_btn">
			  		Save
				</button>
			</div>	
		</div>
	</ion-content>
	<div class="bar bar-footer tabs tabs-icon-only tabsColor">
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-camera"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-person-stalker"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-ios-people"></i>
	  	</a>
	</div>
</ion-view>