<ion-view view-title="Add School">
	<ion-content scroll="false">
	<form name="addIssueForm">
		<div class="list">
			<label class="item item-input item-floating-label">
			  	<span class="input-label labelColor">School Name</span>
			  	<input type="text" placeholder="School Name">
			<!-- <div angucomplete-alt id="txtAutocomplete" placeholder="Type School name name" pause="100"
                 selected-object="afterSelectedCountry" local-data="Schools" search-fields="SchoolName"
                 title-field="SchoolName" minlength="1" input-class="form-control" match-class="highlight">
            	</div> -->
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label labelColor">Region</span>
			    <!-- <input type="text" placeholder="Region Name"> -->
			    <div angucomplete-alt id="txtAutocomplete" placeholder="Type Region name" pause="100"
                 selected-object="afterSelectedRegion" local-data="Regions" search-fields="name"
                 title-field="name" minlength="1" input-class="form-control" match-class="highlight" field-required="true" input-name="region">
            	</div>

            	<div ng-messages="addIssueForm.region.$error" ng-if='submitted'  style="color:red;font-size: 13px;" role="alert">
		            <div ng-message="required" class="error message"  ng-show="!addIssueForm.region.$valid">Please Enter Region</div>
		        </div>
			</label>
		  	<label class="item item-input item-floating-label">
			    <span class="input-label labelColor">Division</span>
			    <!-- <input type="text" placeholder="Division Name"> -->
		  	<div angucomplete-alt id="txtAutocomplete" placeholder="Type Division name" pause="100"
                 selected-object="afterSelectedDivision" local-data="Divisions" search-fields="name"
                 title-field="name" minlength="1" input-class="form-control" match-class="highlight" field-required="true" input-name="division">
            	</div>

            	<div ng-messages="addIssueForm.division.$error" ng-if='submitted'  style="color:red;font-size: 13px;" role="alert">
		            <div ng-message="required" class="error message"  ng-show="!addIssueForm.division.$valid">Please Enter Division</div>
		        </div>

		  	</label>
		  	<label class="item item-input item-floating-label">
			    <span class="input-label labelColor">City/Municipality</span>
			    <!-- <input type="text" placeholder="City/Municipality Name"> -->
		  	<div angucomplete-alt id="txtAutocomplete" placeholder="Type City/Municipality name" pause="100"
                 selected-object="afterSelectedCity" local-data="Citys" search-fields="name"
                 title-field="name" minlength="1" input-class="form-control" match-class="highlight" field-required="true" input-name="city">
            	</div>
            <div ng-messages="addIssueForm.city.$error" ng-if='submitted'  style="color:red;font-size: 13px;" role="alert">
		            <div ng-message="required" class="error message"  ng-show="!addIssueForm.city.$valid">Please Enter City</div>
		        </div>
		  	</label>
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-energized button-block sign_btn" ng-click="addschool(addIssueForm)">
			  		Add School
				</button>
			</div>
		</div>
	</form>	
	</ion-content>
</ion-view>