<ion-view view-title="Get people to support feedback report.">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
				<p class="padBottom">Share report with identified stakeholders. Ask if they agree and can support it.</p>
				<div class="padBottom">
					<p>How many support your feedback report?</p>
					<p>Write names of supportive stakeholders on the <a ui-sref="">report</a>.</p>
					<form ng-submit="">
						<div class="list">
							<label class="item item-input item-floating-label">
							    <span class="input-label">Stakeholder 1</span>
							    <input type="text" placeholder="Stakeholder 1">
							</label>
							<label class="item item-input item-floating-label">
							    <span class="input-label">Stakeholder 2</span>
							    <input type="text" placeholder="Stakeholder 2">
							</label>
							<label class="item item-input item-floating-label">
							    <span class="input-label">Stakeholder 3</span>
							    <input type="text" placeholder="Stakeholder 3">
							</label>
						</div>
						<button class="button button-energized button-block sign_btn">
					  		Save
						</button>
					</form>			
				</div>	
			</div>
		</div>
	</ion-content>
</ion-view>