<ion-view view-title="Identify Concerned">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
				<p class="padBottom">Ask people why they are concerned with or affected by the issue, and if they’re willing to do something about it.</p>
				<p>To engage people, you may:</p>
				<ul class="idenUl padBottom">
					<li>Visit the school/community and ask people (teacher, parent, student, etc.)</li>
					<li><strong><u>Post</u></strong> on FB. Tell friends that you’re working on an
issue for a public school.</li>
					<li>Use <strong><u><a ui-sref="app.statementform">statement form</a></u></strong> and get people to sign on
them if they share the concern. Identify their
sector group.</li>
				</ul>
				<div class="padBottom">
					<p>Check sector and enter number of individuals you have engaged:</p>
					<ul class="list">
						<li class = "item item-checkbox checkbox-energized che checkBox">
					      	Parents
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox"/>
					      	</label>
					      	<input type="text" name="" class="textBox">
					   	</li>

						<li class = "item item-checkbox checkbox-energized checkBox">
					      	Students
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox" />
					      	</label>
					      	<input type="text" name="" class="textBox">
					   	</li>
						<li class = "item item-checkbox checkbox-energized checkBox">
					      	Teachers
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox"/>
					      	</label>
					      	<input type="text" name="" class="textBox">
					   	</li>
					   	<li class = "item item-checkbox checkbox-energized checkBox">
					      	Community members
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox"/>
					      	</label>
					      	<input type="text" name="" class="textBox">
					   	</li>
						<li class = "item item-checkbox checkbox-energized checkBox">
					      	Faith-based group
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox"/>
					      	</label>
					      	<input type="text" name="" class="textBox">
					   	</li>
						<li class = "item item-checkbox checkbox-energized checkBox">
					      	Business
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox"/>
					      	</label>
					      	<input type="text" name="" class="textBox">
					   	</li>
						<li class = "item item-checkbox checkbox-energized checkBox">
					      	Others
					      	<label class = "checkbox">
					         	<input type = "checkbox" class="chbox"/>
					      	</label>
					      	<input type="text" name="" class="textBox">
					   	</li>
					</ul>
				</div>
				<div class="padBottom">
					<p>Your Signature:</p><input type="file" name="sign">
					<img src="img/photo-camera.png" class="photoImg">
				</div>
				<button class="button button-energized button-block sign_btn">
			  		Save
				</button>
			</div>	
		</div>
	</ion-content>
	<div class="bar bar-footer tabs tabs-icon-only tabsColor">
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-camera"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-person-stalker"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-ios-people"></i>
	  	</a>
	</div>
</ion-view>