<ion-view view-title="My Schools">
	<ion-nav-buttons side="right">
      <button class="button button-icon ion-plus plusIcon"></button>
  	</ion-nav-buttons>
  	<ion-content>
	  	<ion-list can-swipe="true">
	  		<div class="item item-divider divHead">
				Manila Division
			</div>
		        <ion-item href="#" class="sch_subitem">
		            Rizal HS
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
		        <ion-item href="#" class="sch_subitem">
		            Bonifacio ES
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
		        <ion-item href="#" class="sch_subitem">
		            Tandang Sora ES
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
	        <div class="item item-divider divHead">
				Quezon City Division
			</div>
				<ion-item href="#" class="sch_subitem">
		            Jacinto HS
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
		        <ion-item href="#" class="sch_subitem">
		            Dagohoy ES
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
		        <ion-item href="#" class="sch_subitem">
		            Gabriela Silang
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
	    	</ion-list>
		</div>
  	</ion-content>
  	<div class="bar bar-footer tabs tabs-icon-only tabsColor">
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-camera"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-person-stalker"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-ios-people"></i>
	  	</a>
	</div>
</ion-view>