<ion-view view-title="Issues">
	<ion-nav-buttons side="right">
      <button class="button button-icon ion-plus plusIcon" ui-sref="app.addissue"></button>
  	</ion-nav-buttons>
  	<ion-content>
  		<div class="row issPadd">
	  		<div class="col">
	  		<!-- <h3 class="issHead">School Name</h3> -->
          <button class="button button-dropdown" modal-select ng-model="data.schoolid" options="SchoolList" modal-title="Select school" on-select="changeSchool(newValue, oldValue)">
              {{schoolName}}
              <div class="option">
                  {{option.school_name}}
              </div>
          </button>
	  		</div>
	  		
		</div>
		<hr>
  		<div class="row" ng-repeat="issue in issues | groupBy : 'groupid'">
  			<div class="col col-33 imgCol imgCol" ng-repeat="i in issue" ui-sref="app.viewissue({'issue_id':i.issue_id})">
  				<img src="img/issue1.png" class="issueImg">
  				<label>{{i.date1 | date:"d/M/yyyy"}}</label>
  			</div>
  			
  		</div>
      <div class="row" ng-if="issues.length < 1">
          <label>No Issues Regarding this school</label>
        </div>
  		<!-- <div class="row RowSpace">
  			<div class="col col-33 imgCol" ui-sref="app.viewissue">
  				<img src="img/issue4.png" class="issueImg">
  				<label>25/11/2016</label>
  			</div>
  			<div class="col col-33 imgCol" ui-sref="app.viewissue">
  				<img src="img/issue5.png" class="issueImg">
  				<label>25/11/2016</label>
  			</div>
			<div class="col col-33 imgCol" ui-sref="app.viewissue">
  				<img src="img/issue6.png" class="issueImg">
  				<label>25/11/2016</label>
  			</div>
  		</div> -->
  	</ion-content>

</ion-view>