<ion-view view-title="My Schools">
	<ion-nav-buttons side="right">
      <button class="button button-icon ion-plus plusIcon" ui-sref="app.addschool"></button>
  	</ion-nav-buttons>
  	<ion-content>
	  	<ion-list can-swipe="true">
	  		<div class="item item-divider divHead">
				Manila Division
			</div>
		        <ion-item ui-sref="app.listissues" class="sch_subitem">
		            Rizal HS
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
		        <ion-item ui-sref="app.listissues" class="sch_subitem">
		            Bonifacio ES
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
		        <ion-item ui-sref="app.listissues" class="sch_subitem">
		            Tandang Sora ES
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
	        <div class="item item-divider divHead">
				Quezon City Division
			</div>
				<ion-item ui-sref="app.listissues" class="sch_subitem">
		            Jacinto HS
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
		        <ion-item ui-sref="app.listissues" class="sch_subitem">
		            Dagohoy ES
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
		        <ion-item ui-sref="app.listissues" class="sch_subitem">
		            Gabriela Silang
		            <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
		            <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
		        </ion-item>
	    	</ion-list>
		</div>
  	</ion-content>
</ion-view>