<ion-view view-title="Maser's Answer">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
			<p class="padBottom">
			The government office mandated to address issues relating to shortage of classrooms is the <strong>Educational Facilities Section</strong> under the School Governance and Operations Division (SGOD). Kindly request the EFS to validate the BEIS data of the school for allocation purposes. <u>See DO 52, s.2015, sec. 3.50.</u>
			</p>
			<p class="padBottom">
			More information: <u>DO 52, s.2015, sec. 3.50</u> states that the Educational Facilities Section of the <strong>School Governance and Operations Division (SGOD)</strong> at the Division Office has the mandate to provide services to ensure structurally and physically safe buildings, grounds and facilities for the Division Office, schools and learning centers to maintain a conducive physical environment.
			</p>
			<p class="padBottom">Step by step process:</p>
			<ol class="idenOl padBottom">
					<li>Visit the school/community and ask people (teacher, parent, student, etc.)</li>
					<li><strong><u>Post</u></strong> on FB. Tell friends that you’re working on an
issue for a public school.</li>
					<li>Use <strong><u><a ui-sref="app.statementform">statement form</a></u></strong> and get people to sign on
them if they share the concern. Identify their
sector group.</li>
			</ol>
			<p class="padBottom">Please note that according to RA 7160 sec. 100c, School Education Fund (SEF) can also be used for construction, repair and maintenance of public school buildings and other facilities of public elementary and secondary schools.</p>
			</div>
		</div>
	</ion-content>
</ion-view>