<ion-view view-title="Identify Needed Information">
	<ion-content>
			<div class="row responsive-sm ContentPad">
				<div class="col idenCol">
					<img src="img/CMS.png" class="CoopeImg">
					
					<p class="padBottom">Identify data related to the issue.</p>
					<p class="padBottom">See list. Tick if relevant and add more if not yet in the list.</p>

					<label class = "item item-input item-select item-bgcolor">
				      	<div class = "input-label">
				         	Select
				      	</div>
		
				      	<select>
				         	<option>Option 1</option>
				         	<option selected>Option 2</option>
				         	<option>Option 3</option>
				      	</select>
				   	</label>
				   	<button class="button button-energized button-block sign_btn">
			  		Save
					</button>
				</div>	
			</div>
	</ion-content>
</ion-view>