<ion-view view-title="Policy Quote">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
			<p class="padBottom">
			RA 9155 sec. 7, letter C states that the SDS has the authority, accountability and responsibility for planning and managing the effective and efficient use of all personnel, physical and fiscal resources of the division, including professional staff development. 
			</p>
			<p class="padBottom">
			DepED DO 52, s.2015, sec. 3.50. The Educational Facilities Section (EFS) under the SGOD  of the Division Office has the mandate to provide services to ensure structurally and physically safe buildings, grounds and facilities for the Division Office, schools and learning centers to maintain a conducive physical environment. 
			</p>
			<p class="padBottom">
			Educational Facilities Manual of 2010 p. 136. The budgetary appropriations in the national budget for the Department of Public Works and Highways include provisions for capital outlays and allotments for the construction, maintenance and repair of elementary and secondary school buildings. The construction and repair of buildings supported by funds appropriated in the national budget shall be supervised by the district engineer of the Department of Public Works and Highways. 
			</p>

			</div>
		</div>
	</ion-content>
</ion-view>