<ion-view view-title="Preview Feedback Report">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
				<p class="padBottom">Write report</p>
				<p class="padBottom">Template</p>
				<p class="padBottom">Date</p>
				<div class="padBottom">We submit the issue of <strong></strong> in X School in <strong></strong>. The issue has existed for <strong></strong> now. <strong>Other details</strong> . We seek your help as the office with the mandate to address it.Hope you can look into it. Thank you.
				</div>
				<p class="padBottom">Signed:</p>
			</div>	
		</div>
	</ion-content>
</ion-view>