<ion-view view-title="Ratings">
  	<ion-content scroll="false">
  	<div class="row">
  		<div class="col">
  			<h3 class="dash_title">Rating Chart</h3>
  			<img src="/img/ratingchart.png" class="ratingChart">
  		</div>
  	</div>
  	</ion-content>
  	<div class="bar bar-footer tabs tabs-icon-only tabsColor">
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-camera"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-person-stalker"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-ios-people"></i>
	  	</a>
	</div>	
</ion-view>