<ion-view view-title="Stamped report">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
				<p class="padBottom">Government office must stamp report as “Received”.</p>
				<div class="padBottom">
					<form ng-submit="">
						<h4 class="report">Upload page of report with stamp.</h4>
						<!-- <input type="file" name=""> -->
						<img src="img/report.png" class="photoImg reportImg">
						<button class="button button-energized button-block sign_btn">
				  		Save
						</button>
					</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>