<ion-view view-title="Reset Password">
	<ion-content>
		<div class="row">
			<div class="col ColMargin">
				<img src="img/CMS.png" class="RegLogo">
			</div>
		</div>
		<form ng-submit="">
			<div class="list">
				<label class="item item-input item-floating-label">
				    <span class="input-label labelColor">Email</span>
				    <input type="email" placeholder="Email">
				</label>
					<button class="button button-positive sendCode">
						Send Code
					</button>
			</div>
		</form>
	</ion-content>	
</ion-view>