<ion-view view-title="Reset Password">
	<ion-content>
		<div class="row">
			<div class="col col-33 col-offset-33">
				<img src="img/CMS.png" class="RegLogo">
			</div>
		</div>
		<form ng-submit="">
			<div class="list">
				<label class="item item-input item-floating-label">
				    <span class="input-label labelColor">Email</span>
				    <input type="email" placeholder="Email">
				</label>
					<button class="button button-clear button-block button-positive sendCode">
						Send Code
					</button>
			</div>
		</form>
	</ion-content>
	<div class="bar bar-footer tabs tabs-icon-only tabsColor">
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-camera"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-person-stalker"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-ios-people"></i>
	  	</a>
	</div>
</ion-view>