<ion-view view-title="Mandate Analysis">
    <ion-content>
    <div class="row">
    	<div class="col">
    <div class="item item-divider divHead">
	Identify service category and service item			
	</div>
      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
              
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item.subId}}
            <label class="toggle toggle-energized manadateToggle">
                <input type="radio" name="serviceCategory">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
              </label>
          </ion-item>
        </div>
      </ion-list>
      </div>
	</div>
	<div class="row">
    	<div class="col">
    <div class="item item-divider divHead">
	Identify issue type			
	</div>
      <ion-list>
        <div ng-repeat="group1 in groups1">
          <ion-item class="item-stable"
                    ng-click="toggleGroup1(group1)"
                    ng-class="{active: isGroupShown1(group1)}">
              <i class="icon" ng-class="isGroupShown1(group1) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group1.name}}
            
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group1.items"
                    ng-show="isGroupShown1(group1)">
            {{item.subId}}
            <label class="toggle toggle-energized manadateToggle">
                <input type="radio" name="issueTyp"e> 
                 <div class="track">
                   <div class="handle"></div>
                 </div>
              </label>
          </ion-item>
        </div>
      </ion-list>
      </div>
	</div>
  <div class="row">   
      <button class="button button-energized button-block sign_btn" ui-sref="app.viewmandateanalysis">
        View Mandate Analysis
      </button>
  </div>
  </ion-content>
</ion-view>
    