<ion-view view-title="View Issue">
	<ion-content scroll="true">
		<div class="row issPadd">
	  		<div class="col">
	  		<h3 class="issHead">School Name</h3>
	  		</div>
	  		
		</div>
		<hr>
		<div class="card">
			<div class="row">
				<div class="col col-50">
					<img src="img/issue1.png" class="viewissImg">
				</div>
				<div class="col col-50">
					<h5>Description</h5>
					<h5>Service category</h5>
					<h5>Service item</h5>
					<h5>Issue type</h5>
					<h5>Mandated agency</h5>
					<h5>Date spotted</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<button class="button button-block sign_btn solution">
			  		Start Solution Chaser
				</button>
			</div>
			<div class="col col-50">
				<button class="button button-energized button-block sign_btn later" ui-sref="app.listissues">
			  		Later
				</button>
			</div>
		</div>
		<div class="row AccPadd">
    	<div class="col">
        <ion-list>
        <div ng-repeat="group2 in groups2">
          <ion-item class="item-stable"
                    ng-click="toggleGroup2(group2)"
                    ng-class="{active: isGroupShown2(group2)}">
              <i class="icon" ng-class="isGroupShown2(group2) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group2.name}} <h2 class="stars">{{group2.stars}}</h2>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group2.items"
                    ng-show="isGroupShown2(group2)" ui-sref="{{item.state}}">
            {{item.subId}}
          </ion-item>
        </div>
      </ion-list>
      </div>
	</div>
	</ion-content>
	<div class="bar bar-footer tabs tabs-icon-only tabsColor">
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-camera"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-person-stalker"></i>
	  	</a>
	  	<a class="tab-item ta_itemColor">
	    	<i class="icon ion-ios-people"></i>
	  	</a>
	</div>
</ion-view>