<ion-view view-title="View Mandate Analysis">
	<ion-content>
		<div class="row responsive-sm">
		<div class="col">
		<ul class="list">
			<label class="item item-input">
				<span class="input-label spanMandate">Service Classification</span>
			    <span class="spanMandaet2">{{listData.category_name}}</span>
			</label>
			<label class="item item-input">
			   <span class="input-label spanMandate">Service Item</span>
			    <span class="spanMandaet2">{{listData.service_item_name}}</span>
			</label>
			<label class="item item-input">
			   <span class="input-label spanMandate">Issues</span>
			    <span class="spanMandaet2">{{listData.issue_name}}</span>
			</label>
			<label class="item item-input">
			   <span class="input-label spanMandate">Accountable Office</span>
			    <span class="spanMandaet2">{{listData.accountable_office}}</span>
			</label>
			<label class="item item-input ">
			   <span class="input-label spanMandate">Request for Information</span>
			    <span class="spanMandaet2">{{listData.request_for_information}}</span>
			</label>
			<label class="item item-input">
			   	<span class="input-label spanMandate">Reference Policy</span>
			    <span class="spanMandaet2">{{listData.reference_policy}}<br/>
			    </span>
			</label>
			<label class="item item-input">
			   <span class="input-label spanMandate">Policy Links</span>
			    <span  class="spanMandaet2">{{listData.policy_links}}</span>
			</label>
			<label class="item item-input">
			   <span class="input-label spanMandate">Policy Quote</span>
			    <span class="spanMandaet2">{{listData.policy_quote | limitTo: 40}}
			    <button class="button button-clear button-small sign_btn read_more" ui-sref="app.policyquote">{{listData.policy_quote.length > 20 ? '...read more' : ''}}</button></span>
			</label>
			<label class="item item-input">
			   <span class="input-label spanMandate">MASER's ANSWER</span>
			    <span class="spanMandaet2">{{listData.masers_answer | limitTo: 40}}<button class="button button-clear button-small sign_btn read_more" ui-sref="app.maseranswer">{{listData.masers_answer.length > 20 ? '...read more' : ''}}</button></span>
			</label>
		</ul>
		</div>
	</ion-content>
</ion-view>