<ion-view view-title="Profile">
	<ion-nav-buttons side="right">
      <button class="button button-icon ion-edit plusIcon" ui-sref="app.editprofile"></button>
  	</ion-nav-buttons>
	<ion-content>
		<div class="row responsive-sm noPadding">
			<div class="col ColMargin">
				<img src="img/user.png" class="profileImg" ng-if="data.image == ''">
			</div>
		</div>
		<ul class="list">
    			<label class="item item-input">
					<span class="input-label">Name</span>
				    <span>{{data.name}}</span>
				</label>
				<label class="item item-input">
				   <span class="input-label">Email</span>
				    <span>{{data.email_address}}</span>
				</label>
				<label class="item item-input">
				   <span class="input-label">Contact Number</span>
				    <span>{{data.contact_number}}</span>
				</label>
    		</ul>
	</ion-content>
</ion-view>