<ion-view view-title="Chat">
  <ion-pane class="messaging-view">
    <div class="row chatUser">
      <div class="">
        <img src="img/user.png" class="colbImg">
      </div>
      <div class="col col-80 frndName">
        <h4>Alica casaligi</h4>
      </div>
    </div>
    <ion-content class="has-header has-subheader content-stable " on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">  
      
     <!--  <li style="width:100%;" ng-repeat="message in messages track by $index">
        <div class="msj-rta macro">
          <div class="text text-r">
            <p>{{ message.text }}</p>
            <p><small>{{message.time}}</small></p>
          </div>
          <div class="avatar" style="padding:0px 0px 0px 10px !important">
            <img class="img-circle" style="width:100%;" src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg">
          </div>
        </div>
      </li>  -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
      
            <div class="chat-message">
                <ul class="chat"><!-- class="left clearfix" -->
                    <li class="clearfix" ng-repeat="c in chat track by $index" ng-class="({{c.sender_id}} == {{sender}}) ? 'right':'left'">
                      <!-- <span class="chat-img pull-left">
                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                      </span> -->
                      <div class="chat-body clearfix" on-long-press="itemOnLongPress({{c}})" on-touch-end="itemOnTouchEnd({{c.message_id}})">
                        <div class="header">
                          <strong class="primary-font">John Doe</strong>
                          <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{c.added_date}}</small>
                        </div>
                        <p>
                          {{c.message_text}}
                        </p>
                      </div>
                    </li>
                   <!--  <li class="right clearfix">
                      <span class="chat-img pull-right">
                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                      </span>
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font">Sarah</strong>
                          <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                        </p>
                      </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                      </span>
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font">John Doe</strong>
                          <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                      </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                      </span>
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font">Sarah</strong>
                          <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                        </p>
                      </div>
                    </li>                    
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                      </span>
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font">John Doe</strong>
                          <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                      </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                      </span>
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font">Sarah</strong>
                          <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                        </p>
                      </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                      </span>
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font">Sarah</strong>
                          <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                        </p>
                      </div>
                    </li>           -->          
                </ul>
            </div>
        </div>
    </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset chatInput">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-energized" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
  </ion-pane>
  </ion-view>