.bar.bar-stable .title {
    color: #FFCD00;
}
.logoLogin
{
	margin-top: 30%;
}
.logoRegister
{
	margin-top: 10%;
}
.back-text
{
	display: none !important;
}
.button-dropdown
{
	width: 100%;
    background: #fff;
    color: #FFCD00 !important;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
