/*homepage*/
.mainLogo
{
	position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:40%;
    transform:translateY(-50%);
    width: 100%;
    max-width: 200px;
}
.home_btns
{
	position: absolute;
	bottom: 0;
}
.sign_btn
{
	color: #1E307E !important;
	font-weight: 600;
}
/*homepage*/
/*sidemenu*/
.leftMenu
{
	width: 100%;
	max-width: 100px;
}
.sideLogo
{
	max-width: 30px;
	width: 100%;
}
.menuBg
{
	background: #FFCD00;
}
.menu_title{
	color:#1E307E;
}

/*sidemenu*/
/*dashboard*/
	/*temp color*/
	ion-header-bar.bar-stable.bar.bar-header {
	    background: #1E307E;

	}
	.title.title-left.header-item
	{
		color:#FFCD00;
	}
	button.button.button-icon.button-clear.ion-navicon {
		color:#FFCD00;
	}
	button.button.back-button.buttons.button-clear.header-item{
		color:#FFCD00;
	}
	/*temp color*/

.bgcolor{
	background: #1E307E;
}
.rightLogo
{
	background: url(img/CMS.png);
}
.ContentPad{
	padding-bottom: 15%;
}
.tabsColor
{
	background: #1E307E;
	border:0;
}
.ta_itemColor
{
	color:#FFCD00;
}
.ratingChart
{
	width: 100%;
	position: absolute;
	top:8%;
	left: 0;
}
.dash_title
{
	text-align: center;
	color:#FFCD00; 
}
img.notif_user1 {
    border: 2px solid #ffcd00;
    padding: 3px;
    max-width: 50px;
    max-height: 35px;
    top: -1px;
    right: 0;
    float: right;
    border-radius: 50%;
    position: relative;
}
/*dashboard*/
/*School*/
.plusIcon
{
	color:#FFCD00 !important;
}
.schLogo
{
	width: 100%;
	max-width: 80px;
	position: absolute;
	top:5%;
}
/*School*/
/*List My School*/
.divHead
{
	background: #FFCD00;
}
.sch_subitem a.item-content
{
	background: #2E74B5;
	color: #fff !important;
}
/*List My School*/

/*Search School*/
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.manadateToggle
{
	float: right;
	/*height: 20px;*/
}
/*Search School*/
/*Issue Notifiaction*/
.notif_icon{
	float: left;
}
.issList
{
	margin-bottom: 0;
}
h3.notif_title{
	margin: 2% 0 2% 12%;
    font-size: 16px;
    color: #ffcd00;
    font-weight: 600;
}
h3.notif_issToday{
	text-align: center;
	font-size: 16px;
	padding: 0 2% 0 0;
	color: #1E307E;
}
img.notif_user
{
	border: 2px solid #ffcd00;
    padding: 3px;
    max-width: 50px;
    max-height: 50px;
    top: 0px;
    right: 16px;
    float: right;
    border-radius: 50%;
    position: relative;
}
h3.issHead
{
	font-size: 18px;
    margin: 6% 0 0 3%;
    color: #ffcd00;
    font-weight: 600;
}
.issItem
{
	padding: 16px;
}
.solution
{
	font-size: 13px;
	background: #1E307E;
	color: #fff !important;
}
.later
{
	font-size: 13px;
}
.Pimg
{
	margin-top:30px !important;
}
/*Issue Notifiaction*/
/*List Issue*/
.issueImg
{
	width: 100%;
	height: 100px;
}
.imgCol
{
	border:1px solid #1E307E;
}
.row.RowSpace
{
	margin-top: 5%;
}
.issPadd{
	padding: 0;
}
/*List Issue*/
/*View Issue*/
.viewissImg
{
	width: 100%;
}
.AccPadd
{
	padding-bottom:25%;
}
.stars
{
	float: right;
    color: #444;
}
/*View Issue*/
/*Identify Concerned*/
.idenCol
{
    border: 2px solid #ffcd00;
    font-size: 16px;
}
.padBottom
{
	padding-bottom: 4% !important;
}
.idenUl
{
	padding: 0 0 0 11%;
	list-style: disc;
}
input.secInput
{
	border: 1px solid #ddd;
	float: right;
}
.item-checkbox .checkbox {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    z-index: 3;
    margin-top: -21px;
    width: 50% !important;
}
input.textBox{
	float: right;
    border-bottom: 2px solid #ddd;
    width: 60px;
    height: 20px;
}
input.textBox:focus{
	float: right;
    border-bottom: 1px solid #ffcd00;
    width: 60px;

}
input.chbox
{
	width: 20px;
    height: 20px;
    margin:3px 0 0 0;
}
input.chbox:before
{
	width: 20px;
    height: 20px;
    margin:0px 0 0 2px;
}
.checkBox
{
	padding-left: 50px !important;
}
.photoImg
{   
	padding: 0 5px;
    height: 100px;
    border: 3px inset #1E307E;
    display: block;
    margin: 0 auto;
}
/*Identify Concerned*/
/* Statement Form*/
input.textBox1{
    border-bottom: 2px solid #ddd;
    width: 100px;
    height: 20px;
    float: left;
    margin: 0 10px 0 0;
}
.statefrm{
	margin:10px auto !important;
}
/* Statement Form*/
/*Registration*/
.labelColor
{
	color: #1E307E;
}
.RegLogo
{
	width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: block;
}
.resetBtn
{
	background: #1E307E;
	color: #fff !important;
	font-weight: 600;
}
/*Registration*/
/*Login*/
.forgetBtn
{
	margin: -5% 0 0 0 !important;
}
/*Login*/
/*Reset Password*/
.sendCode{
	margin: 5% auto 0;
    display: block;
    background: #1E307E !important;
}
/*Reset Password*/
/*View Profile*/
.profileImg
{   
	height: 110px;
    width: 110px;
    border: 5px inset #1E307E;
    border-radius: 50%;
    margin: auto;
    display: block;
}
.noPadding
{
	padding: 0;
}
.ColMargin
{
	margin-top:40px;
	margin-bottom: 40px !important;
}
/*View Profile*/
/*Edit Profile*/
.cameraImg
{
	display: block;
    margin: -8% 38% 0 auto;
    background: #ffcd00;
    border-radius: 50%;
}

/*Edit Profile*/
/*Cooperation Form*/
.CoopeImg
{
	padding: 10% 0;
	width: 100%;
    max-width: 80px;
    margin: 0 auto;
    display: block;
}
.downloadBtn
{
	display: block;
	margin: 0 auto;
}
.PageTitle{
    text-align: center;
    margin-bottom: 13%;
    font-weight: 600;
    text-decoration: underline;
    color: #1E307E;
}
/*Cooperation Form*/
/*Needed Information*/
.item-bgcolor
{
	background: #1E307E;
	border-color: #1E307E;
	color: #fff ;
}

.item-select.item-bgcolor select {
    background: #1E307E;
    color: #fff;
}
.item-select.item-bgcolor:after, .item-select.item-bgcolor .input-label
{
color: #fff;
}
/*Needed Information*/
/*access info*/
.chbkSpace
{
	margin-left: 7%;
    border:0;
    padding: 5px;
}
.chbkacc
{
	border:0;
}
/*access info*/
/*review info*/
.item.reviewque h2 {
    font-size: 18px;
    float: left;
    margin: 6px 0;
    white-space: normal;
    width: 81%;
}
.reviewqueToggle
{
	float: right;
}
/*review info*/